
.circle
  @extend .exist
  border-radius:50%

.flag
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid $olive;
  border-bottom: 60px solid transparent;

.triangle
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid $olive;
.triangleblue
  @extend .triangle
  border-bottom: 30px solid $blue;
.triangleorange
  @extend .triangle
  border-bottom: 30px solid $orange;

.egg
  display:block;
  width: 126px;
  height: 180px;
  background-color: $blue;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;

.moon
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 $navy;

.cone
  width: 0;
  height: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-top: 100px solid $green;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

.cross
  background: $blue;
  height: 100px;
  position: relative;
  width: 20px;
  &:after
    background: $blue;
    content: "";
    height: 20px;
    left: -40px;
    position: absolute;
    top: 40px;
    width: 100px;

.confetti
    background: $blue;
    width: 80px;
    height: 80px;
    position: relative;
    text-align: center;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    &:before
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 80px;
        width: 80px;
        background: $blue;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
