
b
  color:$bluegrey;
i
  color:$midgrey

.bold
  font-weight: bold
  color:$grey;
.italic
  color:$midgrey
  font-style: italic;
.oblique
  color:$midgrey
  font-style: oblique;
.italics
  @extend .italic
.emph
  letter-spacing:0.1rem;
.title
  font-size: 3rem
  line-height: 1.25
  letter-spacing: .05em
  color:$offblack

.nobreak
  white-space: nowrap;

.link
  color: $blue
  text-decoration: none
  cursor:pointer
  &:hover
    border-bottom:2px solid $blue
a
  @extend .link
  
.center
  text-align: center;
.justify
  text-align: justify;
.left
  text-align: left;
.right
  text-align: right;

.f1
  font-size: 3rem
.f2
  font-size: 2.25rem
.f3
  font-size: 1.5rem
.f4
  font-size: 1.25rem
.f5
  font-size: 1rem
.f6
  font-size: .875rem

.helvetica
  font-family: 'helvetica neue', helvetica, sans-serif;
.avenir
  font-family: 'avenir next', avenir, sans-serif;
.baskerville
  font-family: baskerville, serif;
