.blue {
  color: #69c;
}
.bgblue {
  background-color: #69c;
}
.bottom-blue {
  border-bottom: 2px solid #69c;
  padding-left: 1rem;
  padding-right: 1rem;
}
.green {
  color: #6accb2;
}
.bggreen {
  background-color: #6accb2;
}
.bottom-green,
.header {
  border-bottom: 2px solid #6accb2;
  padding-left: 1rem;
  padding-right: 1rem;
}
.yellow {
  color: #e1e6b3;
}
.bgyellow {
  background-color: #e1e6b3;
}
.bottom-yellow {
  border-bottom: 2px solid #e1e6b3;
  padding-left: 1rem;
  padding-right: 1rem;
}
.red {
  color: #cc7066;
}
.bgred {
  background-color: #cc7066;
}
.bottom-red {
  border-bottom: 2px solid #cc7066;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pink {
  color: #f2c0bb;
}
.bgpink {
  background-color: #f2c0bb;
}
.bottom-pink {
  border-bottom: 2px solid #f2c0bb;
  padding-left: 1rem;
  padding-right: 1rem;
}
.brown {
  color: #705e5c;
}
.bgbrown {
  background-color: #705e5c;
}
.bottom-brown {
  border-bottom: 2px solid #705e5c;
  padding-left: 1rem;
  padding-right: 1rem;
}
.orange {
  color: #cc8a66;
}
.bgorange {
  background-color: #cc8a66;
}
.bottom-orange {
  border-bottom: 2px solid #cc8a66;
  padding-left: 1rem;
  padding-right: 1rem;
}
.purple {
  color: #d8b3e6;
}
.bgpurple {
  background-color: #d8b3e6;
}
.bottom-purple {
  border-bottom: 2px solid #d8b3e6;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navy {
  color: #335799;
}
.bgnavy {
  background-color: #335799;
}
.bottom-navy {
  border-bottom: 2px solid #335799;
  padding-left: 1rem;
  padding-right: 1rem;
}
.olive {
  color: #7f9c6c;
}
.bgolive {
  background-color: #7f9c6c;
}
.bottom-olive {
  border-bottom: 2px solid #7f9c6c;
  padding-left: 1rem;
  padding-right: 1rem;
}
.fuscia {
  color: #735873;
}
.bgfuscia {
  background-color: #735873;
}
.bottom-fuscia {
  border-bottom: 2px solid #735873;
  padding-left: 1rem;
  padding-right: 1rem;
}
.beige {
  color: #e6d7b3;
}
.bgbeige {
  background-color: #e6d7b3;
}
.bottom-beige {
  border-bottom: 2px solid #e6d7b3;
  padding-left: 1rem;
  padding-right: 1rem;
}
.slate {
  color: #8c8c88;
}
.bgslate {
  background-color: #8c8c88;
}
.bottom-slate {
  border-bottom: 2px solid #8c8c88;
  padding-left: 1rem;
  padding-right: 1rem;
}
.suede {
  color: #9c896c;
}
.bgsuede {
  background-color: #9c896c;
}
.bottom-suede {
  border-bottom: 2px solid #9c896c;
  padding-left: 1rem;
  padding-right: 1rem;
}
.burnt {
  color: #603a39;
}
.bgburnt {
  background-color: #603a39;
}
.bottom-burnt {
  border-bottom: 2px solid #603a39;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sea {
  color: #50617a;
}
.bgsea {
  background-color: #50617a;
}
.bottom-sea {
  border-bottom: 2px solid #50617a;
  padding-left: 1rem;
  padding-right: 1rem;
}
.sky {
  color: #2d85a8;
}
.bgsky {
  background-color: #2d85a8;
}
.bottom-sky {
  border-bottom: 2px solid #2d85a8;
  padding-left: 1rem;
  padding-right: 1rem;
}
.night {
  color: #303b50;
}
.bgnight {
  background-color: #303b50;
}
.bottom-night {
  border-bottom: 2px solid #303b50;
  padding-left: 1rem;
  padding-right: 1rem;
}
.rouge {
  color: #914045;
}
.bgrouge {
  background-color: #914045;
}
.bottom-rouge {
  border-bottom: 2px solid #914045;
  padding-left: 1rem;
  padding-right: 1rem;
}
.grey {
  color: #838b91;
}
.bggrey {
  background-color: #838b91;
}
.bottom-grey {
  border-bottom: 2px solid #838b91;
  padding-left: 1rem;
  padding-right: 1rem;
}
.mud {
  color: #c4abab;
}
.bgmud {
  background-color: #c4abab;
}
.bottom-mud {
  border-bottom: 2px solid #c4abab;
  padding-left: 1rem;
  padding-right: 1rem;
}
.royal {
  color: #275291;
}
.bgroyal {
  background-color: #275291;
}
.bottom-royal {
  border-bottom: 2px solid #275291;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cherry {
  color: #cc6966;
}
.bgcherry {
  background-color: #cc6966;
}
.bottom-cherry {
  border-bottom: 2px solid #cc6966;
  padding-left: 1rem;
  padding-right: 1rem;
}
.tulip {
  color: #e6b3bc;
}
.bgtulip {
  background-color: #e6b3bc;
}
.bottom-tulip {
  border-bottom: 2px solid #e6b3bc;
  padding-left: 1rem;
  padding-right: 1rem;
}
.rose {
  color: #d68881;
}
.bgrose {
  background-color: #d68881;
}
.bottom-rose {
  border-bottom: 2px solid #d68881;
  padding-left: 1rem;
  padding-right: 1rem;
}
.fire {
  color: #ab5850;
}
.bgfire {
  background-color: #ab5850;
}
.bottom-fire {
  border-bottom: 2px solid #ab5850;
  padding-left: 1rem;
  padding-right: 1rem;
}
.greyblue {
  color: #72697d;
}
.bggreyblue {
  background-color: #72697d;
}
.bottom-greyblue {
  border-bottom: 2px solid #72697d;
  padding-left: 1rem;
  padding-right: 1rem;
}
.greygreen {
  color: #8ba3a2;
}
.bggreygreen {
  background-color: #8ba3a2;
}
.bottom-greygreen {
  border-bottom: 2px solid #8ba3a2;
  padding-left: 1rem;
  padding-right: 1rem;
}
.greypurple {
  color: #978ba3;
}
.bggreypurple {
  background-color: #978ba3;
}
.bottom-greypurple {
  border-bottom: 2px solid #978ba3;
  padding-left: 1rem;
  padding-right: 1rem;
}
.burn {
  color: #6d5685;
}
.bgburn {
  background-color: #6d5685;
}
.bottom-burn {
  border-bottom: 2px solid #6d5685;
  padding-left: 1rem;
  padding-right: 1rem;
}
.slategrey {
  color: #bfb0b3;
}
.bgslategrey {
  background-color: #bfb0b3;
}
.bottom-slategrey {
  border-bottom: 2px solid #bfb0b3;
  padding-left: 1rem;
  padding-right: 1rem;
}
.light {
  color: #a3a5a5;
}
.bglight {
  background-color: #a3a5a5;
}
.bottom-light {
  border-bottom: 2px solid #a3a5a5;
  padding-left: 1rem;
  padding-right: 1rem;
}
.lighter {
  color: #d7d5d2;
}
.bglighter {
  background-color: #d7d5d2;
}
.bottom-lighter {
  border-bottom: 2px solid #d7d5d2;
  padding-left: 1rem;
  padding-right: 1rem;
}
.fudge {
  color: #4d4d4d;
}
.bgfudge {
  background-color: #4d4d4d;
}
.bottom-fudge {
  border-bottom: 2px solid #4d4d4d;
  padding-left: 1rem;
  padding-right: 1rem;
}
.lightgrey {
  color: #949a9e;
}
.bglightgrey {
  background-color: #949a9e;
}
.bottom-lightgrey {
  border-bottom: 2px solid #949a9e;
  padding-left: 1rem;
  padding-right: 1rem;
}
.white {
  color: #fbfbfb;
}
.bgwhite {
  background-color: #fbfbfb;
}
.bottom-white {
  border-bottom: 2px solid #fbfbfb;
  padding-left: 1rem;
  padding-right: 1rem;
}
.dimgrey {
  color: #606c74;
}
.bgdimgrey {
  background-color: #606c74;
}
.bottom-dimgrey {
  border-bottom: 2px solid #606c74;
  padding-left: 1rem;
  padding-right: 1rem;
}
.softblack {
  color: #463d4f;
}
.bgsoftblack {
  background-color: #463d4f;
}
.bottom-softblack {
  border-bottom: 2px solid #463d4f;
  padding-left: 1rem;
  padding-right: 1rem;
}
.dark {
  color: #443d3d;
}
.bgdark {
  background-color: #443d3d;
}
.bottom-dark {
  border-bottom: 2px solid #443d3d;
  padding-left: 1rem;
  padding-right: 1rem;
}
.black {
  color: #333;
}
.bgblack {
  background-color: #333;
}
.bottom-black {
  border-bottom: 2px solid #333;
  padding-left: 1rem;
  padding-right: 1rem;
}
.m0 {
  margin: 1rem;
}
.mt0 {
  margin-top: 1rem;
}
.ml0 {
  margin-left: 1rem;
}
.mb0 {
  margin-left: 1rem;
}
.p0 {
  padding: 1rem;
}
.w0 {
  width: 1rem;
}
.h0 {
  min-height: 1rem;
}
.f0 {
  font-size: 1rem;
}
.m1 {
  margin: 2rem;
}
.mt1 {
  margin-top: 2rem;
}
.ml1 {
  margin-left: 2rem;
}
.mb1 {
  margin-left: 2rem;
}
.p1 {
  padding: 2rem;
}
.w1 {
  width: 2rem;
}
.h1 {
  min-height: 2rem;
}
.f1 {
  font-size: 2rem;
}
.m2 {
  margin: 3rem;
}
.mt2 {
  margin-top: 3rem;
}
.ml2 {
  margin-left: 3rem;
}
.mb2 {
  margin-left: 3rem;
}
.p2 {
  padding: 3rem;
}
.w2 {
  width: 3rem;
}
.h2 {
  min-height: 3rem;
}
.f2 {
  font-size: 3rem;
}
.m3 {
  margin: 4rem;
}
.mt3 {
  margin-top: 4rem;
}
.ml3 {
  margin-left: 4rem;
}
.mb3 {
  margin-left: 4rem;
}
.p3 {
  padding: 4rem;
}
.w3 {
  width: 4rem;
}
.h3 {
  min-height: 4rem;
}
.f3 {
  font-size: 4rem;
}
.m4 {
  margin: 5rem;
}
.mt4 {
  margin-top: 5rem;
}
.ml4 {
  margin-left: 5rem;
}
.mb4 {
  margin-left: 5rem;
}
.p4 {
  padding: 5rem;
}
.w4 {
  width: 5rem;
}
.h4 {
  min-height: 5rem;
}
.f4 {
  font-size: 5rem;
}
.m5 {
  margin: 6rem;
}
.mt5 {
  margin-top: 6rem;
}
.ml5 {
  margin-left: 6rem;
}
.mb5 {
  margin-left: 6rem;
}
.p5 {
  padding: 6rem;
}
.w5 {
  width: 6rem;
}
.h5 {
  min-height: 6rem;
}
.f5 {
  font-size: 6rem;
}
.m6 {
  margin: 7rem;
}
.mt6 {
  margin-top: 7rem;
}
.ml6 {
  margin-left: 7rem;
}
.mb6 {
  margin-left: 7rem;
}
.p6 {
  padding: 7rem;
}
.w6 {
  width: 7rem;
}
.h6 {
  min-height: 7rem;
}
.f6 {
  font-size: 7rem;
}
.m7 {
  margin: 8rem;
}
.mt7 {
  margin-top: 8rem;
}
.ml7 {
  margin-left: 8rem;
}
.mb7 {
  margin-left: 8rem;
}
.p7 {
  padding: 8rem;
}
.w7 {
  width: 8rem;
}
.h7 {
  min-height: 8rem;
}
.f7 {
  font-size: 8rem;
}
.m8 {
  margin: 9rem;
}
.mt8 {
  margin-top: 9rem;
}
.ml8 {
  margin-left: 9rem;
}
.mb8 {
  margin-left: 9rem;
}
.p8 {
  padding: 9rem;
}
.w8 {
  width: 9rem;
}
.h8 {
  min-height: 9rem;
}
.f8 {
  font-size: 9rem;
}
.m9 {
  margin: 10rem;
}
.mt9 {
  margin-top: 10rem;
}
.ml9 {
  margin-left: 10rem;
}
.mb9 {
  margin-left: 10rem;
}
.p9 {
  padding: 10rem;
}
.w9 {
  width: 10rem;
}
.h9 {
  min-height: 10rem;
}
.f9 {
  font-size: 10rem;
}
.m10 {
  margin: 11rem;
}
.mt10 {
  margin-top: 11rem;
}
.ml10 {
  margin-left: 11rem;
}
.mb10 {
  margin-left: 11rem;
}
.p10 {
  padding: 11rem;
}
.w10 {
  width: 11rem;
}
.h10 {
  min-height: 11rem;
}
.f10 {
  font-size: 11rem;
}
.m11 {
  margin: 12rem;
}
.mt11 {
  margin-top: 12rem;
}
.ml11 {
  margin-left: 12rem;
}
.mb11 {
  margin-left: 12rem;
}
.p11 {
  padding: 12rem;
}
.w11 {
  width: 12rem;
}
.h11 {
  min-height: 12rem;
}
.f11 {
  font-size: 12rem;
}
.m12 {
  margin: 13rem;
}
.mt12 {
  margin-top: 13rem;
}
.ml12 {
  margin-left: 13rem;
}
.mb12 {
  margin-left: 13rem;
}
.p12 {
  padding: 13rem;
}
.w12 {
  width: 13rem;
}
.h12 {
  min-height: 13rem;
}
.f12 {
  font-size: 13rem;
}
.m13 {
  margin: 14rem;
}
.mt13 {
  margin-top: 14rem;
}
.ml13 {
  margin-left: 14rem;
}
.mb13 {
  margin-left: 14rem;
}
.p13 {
  padding: 14rem;
}
.w13 {
  width: 14rem;
}
.h13 {
  min-height: 14rem;
}
.f13 {
  font-size: 14rem;
}
.m14 {
  margin: 15rem;
}
.mt14 {
  margin-top: 15rem;
}
.ml14 {
  margin-left: 15rem;
}
.mb14 {
  margin-left: 15rem;
}
.p14 {
  padding: 15rem;
}
.w14 {
  width: 15rem;
}
.h14 {
  min-height: 15rem;
}
.f14 {
  font-size: 15rem;
}
.m15 {
  margin: 16rem;
}
.mt15 {
  margin-top: 16rem;
}
.ml15 {
  margin-left: 16rem;
}
.mb15 {
  margin-left: 16rem;
}
.p15 {
  padding: 16rem;
}
.w15 {
  width: 16rem;
}
.h15 {
  min-height: 16rem;
}
.f15 {
  font-size: 16rem;
}
.m16 {
  margin: 17rem;
}
.mt16 {
  margin-top: 17rem;
}
.ml16 {
  margin-left: 17rem;
}
.mb16 {
  margin-left: 17rem;
}
.p16 {
  padding: 17rem;
}
.w16 {
  width: 17rem;
}
.h16 {
  min-height: 17rem;
}
.f16 {
  font-size: 17rem;
}
.m17 {
  margin: 18rem;
}
.mt17 {
  margin-top: 18rem;
}
.ml17 {
  margin-left: 18rem;
}
.mb17 {
  margin-left: 18rem;
}
.p17 {
  padding: 18rem;
}
.w17 {
  width: 18rem;
}
.h17 {
  min-height: 18rem;
}
.f17 {
  font-size: 18rem;
}
.small {
  width: 5rem;
  min-height: 5rem;
  padding: 0.5rem;
  margin: 0.75rem;
  border-radius: 5px;
}
.medium {
  width: 8rem;
  min-height: 5rem;
  padding: 0.5rem;
  margin: 0.75rem;
  border-radius: 5px;
}
.large {
  width: 16rem;
  min-height: 5rem;
  padding: 0.5rem;
  margin: 0.75rem;
  border-radius: 5px;
}
.big {
  width: 20rem;
  min-height: 5rem;
  padding: 0.5rem;
  margin: 0.75rem;
  border-radius: 5px;
}
.huge {
  width: 32rem;
  min-height: 5rem;
  padding: 0.5rem;
  margin: 0.75rem;
  border-radius: 5px;
}
.row {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.col {
  display: flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
}
.input {
  font-family: 'avenir next', avenir, sans-serif;
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.3em 0.6em;
  width: 80%;
  color: #a3a5a5;
  max-width: 50rem;
  font-size: 2rem;
  line-height: 1rem;
  line-height: 1.25;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-style: normal;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
  transition: box-shadow 100ms;
}
.input:hover {
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
  color: #69c;
}
.input:focus {
  font-style: italic;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
  color: #69c;
  border-bottom: 2px solid $darkblue;
}
.button {
  font-family: 'avenir next', avenir, sans-serif;
  background-color: #fdfffd;
  color: #69c;
  min-width: 8rem;
  min-height: 1.2rem;
  font-size: 1.4rem;
  margin: 0.5rem;
  padding: 0.2rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  transition: box-shadow 100ms;
  border-bottom: 2px solid #69c;
}
.button:hover {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
  border-bottom: 2px solid #69c;
  color: #cc8a66;
}
.button:focus {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.5);
  border-bottom: 2px solid #69c;
  color: #cc8a66;
}
select {
  font-family: 'avenir next', avenir, sans-serif;
  color: #a3a5a5;
  font-size: 1rem;
  cursor: pointer;
  min-width: 10rem;
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  transition: box-shadow 100ms;
}
select:hover {
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
  color: #69c;
}
select:focus {
  font-style: italic;
  color: #69c;
  box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
}
.texture {
  background-image: radial-gradient(#fff, rgba(255,255,255,0.2) 0.5px, transparent 60px);
  background-size: 50px 5px, 50px 50px, 5px 250px, 150px 150px;
}
.rounded {
  border-radius: 5px;
}
.shadow {
  box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.2);
}
.outline {
  border: 1px solid #a3a5a5;
  border-radius: 5px;
}
.pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.header {
  margin: 0.5rem;
  display: inline;
  flex-shrink: 1;
}
body {
  min-height: 100%;
  margin: 1rem;
  padding: 0;
  background-color: #fbfbfb;
  font-family: 'avenir next', avenir, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  max-width: 100%;
}
hr {
  color: #d3d3d3;
  width: 70%;
}
.stage {
  max-width: 45rem;
  width: 80%;
  min-width: 18rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  flex-wrap: wrap;
}
@media screen and (max-width: 30rem) {
  .stage {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
  }
}
