colors = {
  blue: #516a8f,
  green: #6accb2,
  red: #cc7066,
  pink: #F2C0BB, 
  brown: #705E5C,
  orange: #cc8a66,
  purple: #d8b3e6,
  sky: #2D85A8,
  grey: #838B91,
}

for key, val in colors
  //backgrounds
  .bg{key}
    width:100%;
    background-color:val
    border-radius:3px;
    margin-top:2rem;
    margin-bottom:2rem;
    border-left:15px solid #e6b3bc;
    padding:1.2rem 2rem 1.2rem 2rem;
    // color:#e0e0e0;
    color:#443d3d;
    font-size:1.5rem;
    line-height:1.9rem;
    text-align:justify;
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
    a
      color:#D68881
      border-bottom:2px solid #6699cc
