colors = {
  blue: #6699cc,
  green: #6accb2,
  red: #cc7066,
  pink: #F2C0BB, 
  brown: #705E5C,
  orange: #cc8a66,
  purple: #d8b3e6,
  sky: #2D85A8,
  grey: #838B91,
}

for key, val in colors
  .bl{key}
    border-left:4px solid val;
    padding-left:0.8rem;
    padding-top:0.2rem;
    margin-top:0.2rem;
    padding-bottom:0.2rem;
    margin-bottom:0.2rem;
  .br{key}
    border-right:4px solid val;
    padding-right:0.8rem;
    padding-top:0.2rem;
    margin-top:0.2rem;
    padding-bottom:0.2rem;
    margin-bottom:0.2rem;

