$blue      = #6a84cc
$navy      = #335799
$green     = #6accb2
$yellow    = #e1e6b3
$red       = #cc7066
$pink      = #e6b8b3
$grey      = #6c7f9c
$lightgrey = #e9edec
$darkgrey  = #667c92
$offwhite  = #fbfbfb//#f7f8f8

.blue
  color: $blue
.navy
  color: $navy
.green
  color: $green
.yellow
  color: $yellow
.red
  color: $red
.pink
  color: $pink
.grey
  color: $grey
.lightgrey
  color: $lightgrey
.darkgrey
  color: $darkgrey

.blueback
  background-color: $blue
.navyback
  background-color: $navy
.greenback
  background-color: $green
.yellowback
  background-color: $yellow
.redback
  background-color: $red
.greenback
  background-color: $green
.pinkback
  background-color: $pink

.offwhite
  background-color: $offwhite
