colors = {
  blue: #6699cc,
  green: #6accb2,
  yellow: #e1e6b3,
  red: #cc7066,
  pink: #F2C0BB, 
  brown: #705E5C,
  orange: #cc8a66,
  purple: #d8b3e6,
  navy: #335799,
  olive: #7f9c6c,
  sea: #50617A,
  sky: #2D85A8,
  night: #303b50,
  grey: #838B91,
  mud: #C4ABAB,
  slategrey: #bfb0b3,
  light: #a3a5a5,
  lighter: #d7d5d2,
  lightest:#e5e2de,
  lightgrey: #949a9e,
  white: #fbfbfb,
  dimgrey: #606c74,
  softblack: #463D4F,
  dark: #443d3d,
  black: #333333
}

for key, val in colors
  //text colors
  .{key}
    color:val
  //backgrounds
  .bg{key}
    background-color:val


greys = {
  offwhite : #fbfbfb,
  light: #a3a5a5,
  dim  : #d7d5d2,
  grey : #4d4d4d,
  mid  : #949a9e,
  slate: #51433e,
  blue : #606c74,
  dark : #443d3d,
  offblack : #333333
}

basic = {
  blue: #6699cc,
  green: #6accb2,
  yellow: #e1e6b3,
  red: #cc7066,
  pink: #F2C0BB, 
  brown: #705E5C,
  orange: #cc8a66,
  purple: #d8b3e6,
}

  //underlines
for key, val in basic
  .ul{key}
    border-bottom:2px solid val
