colors = {
  blue   : #6699cc,
  navy   : #335799,
  green  : #6accb2,
  yellow : #e1e6b3,
  red    : #cc7066,
  pink   : #e6b8b3,
  olive  : #7f9c6c,
  brown  : #9c896c,
  orange : #cc8a66,
  purple : #d8b3e6,
  burnt  : #603a39,
  beige  : #e6d7b3,
}

greys = {
  offwhite : #fbfbfb,
  light: #a3a5a5,
  dim  : #d7d5d2,
  grey     : #4d4d4d,
  mid  : #949a9e,
  slate: #51433e,
  blue : #606c74,
  dark : #443d3d,
  offblack : #333333
}

for key, val in colors
  //text colors
  .{key}
    color:val
  //backgrounds
  .bg{key}
    background-color:val
  //underlines
  .bottom-{key}
    border-bottom:2px solid val
    padding-left:1rem
    padding-right:1rem


// $darkblue   = #6c7f9c
// $lightblue  = #66a8cc
// $lightgreen = #66ccac
// $darkgreen = #339957
// $darkbrown  = #605439
