.flex
  display:flex;
  flex-direction: row;
  justify-content: space-around;
.wrap
  flex-wrap: wrap;
.nowrap 
  flex-wrap: nowrap;
.row
  display:flex;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;
  text-align:center;
  flex-wrap: wrap;
  align-self: stretch;
  // width:100%;
.row-left
  @extends .row
  justify-content: flex-start;
.row-right
  @extends .row
  justify-content: flex-end;
.row-middle
  @extends .row
  justify-content: center;
.row-stretch
  @extends .row
  justify-content: space-between;
.row-top
  @extends .row
  align-items: flex-start;
.row-bottom
  @extends .row
  align-items: flex-end;

.centered
  display:flex;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;

.col
  display:flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  text-align:left;
  flex-wrap: wrap;
  width:100%;
.col-top
  @extends .col
  justify-content: flex-start;
.col-bottom
  @extends .col
  justify-content: flex-end;
.col-middle
  @extends .col
  justify-content: center;
.col-stretch
  @extends .col
  justify-content: space-around;
.col-left
  @extends .col
  align-items: flex-start;
.col-right
  @extends .col
  align-items: flex-end;


.goleft
  align-self: flex-start;
.goright
  align-self: flex-end;
.goup
  align-self: flex-start;
.godown
  align-self: flex-end;

.grow
  flex-grow:100;
.grow50
  flex-grow:50;
.grow25
  flex-grow:25;
.grow75
  flex-grow:75;
.grow10
  flex-grow:10;
.shrink
  flex-shrink:1;
