.row
  display:flex;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;
  text-align:center;
  flex-wrap: wrap;
  width:100%;

.col
  display:flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  text-align:left;
  flex-wrap: wrap;
  width:100%;

.goright
  align-self: end;
.goleft
  align-self: start;
