.row
  display:flex;
  flex-direction: row !important;
  justify-content: space-around;
  align-items: center;
  text-align:center;
  flex-wrap: wrap;
  // overflow:hidden;

.col
  display:flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: center;
  text-align:left;
  flex-wrap: wrap;
  // overflow:hidden;
