
 sizes={
   '1':1
   '2':2
   '3':3
   '4':4
   '5':5
   '6':6
 }
 for key, val in sizes
  .grid{key}
    display:grid;
    grid-template-columns: repeat(val, minmax(50px, 1fr)) //50px is cell min-width
  .row{key}
    grid-column: span val;
  .col{key}
    grid-row: span val;

// default to 4 cols
.grid
  @extends .grid4


gutters={
  '05' : 0.5
  '09' : 0.667
  '1' : 1
  '2' : 1.5
  '3' : 2.25
}
for name, size in gutters
  .gutter{name}
    grid-gap: size rem