@import "colors.styl"
@import "sizes.styl"
@import "flex.styl"

html, body
  height: 100%;
  margin: 1rem;
  padding: 0;
  background-color:greys.offwhite
  font-family: 'avenir next', avenir, sans-serif;
  // font-family: 'Raleway', 'Helvetica', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;

.stage
  // margin:2rem;
  max-width:50rem
  width:50rem
  // min-width:15rem;
  @extend .vertical

.rounded
  border-radius:5px

.outline
  border: 1px solid greys.light
  border-radius:5px

.title
  margin:0.5rem;
  margin-left:5.5rem;
  color: greys.light

.header
  margin:0.5rem;
  margin-left:2.5rem;
  @extend .bottom-green
  display:inline;
  flex-shrink: 1;
