@import "colors.styl"
@import "background.styl"
@import "borders.styl"
@import "text.styl"
@import "sizes.styl"
@import "layout.styl"
@import "underlines.styl"

// greys = {
//   offwhite : #fbfbfb,
//   light: #a3a5a5,
//   dim  : #d7d5d2,
//   grey : #4d4d4d,
//   mid  : #949a9e,
//   slate: #51433e,
//   blue : #606c74,
//   dark : #443d3d,
//   offblack : #333333
// }


html
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px auto;
  margin-top: 1.2rem;
  min-height: 100vh;
  overflow-x: hidden;
  color:#4d4d4d
  background-color:#fbfbfb;
  font-size: 16px;
  line-height:150%;


@font-face {
  font-family: 'Tajawal';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Tajawal'), local('Tajawal-Regular'),
    url(./tajawal.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: 'Tajawal';
  font-size: 1.2rem;
  background-color: #fbfbfb;
}


.main
  margin: 0 auto;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  max-width: 1080px;
  display:flex;
  flex-direction: column !important;
  justify-content: space-around;
  align-items: flex-start;
  text-align:left;
  flex-wrap: wrap;
  flex:1;
  color: #333333;

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
  
space
  margin-top:4rem;
  margin-bottom:4rem;

.left
  align-self: flex-start;
.right
  align-self: flex-end;
.center
  align-self: center;

a
  color: #6699cc
  text-decoration: none
  cursor:pointer
  &:hover
    border-bottom:2px solid #6699cc

img
  margin:1.2rem;
  max-width:100%
  border-radius:3px
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
  align-self: center;

h2
  margin:8rem 2rem 1rem 0rem;
  padding:0rem 1rem 0rem 1rem;
  line-height:100%;
  color:#4d4d4d
  font-size: 2.4em;
  font-weight: 100;
  border-left:5px solid #6699cc;