.input
  font-family: 'avenir next', avenir, sans-serif;
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: .3em .6em;
  color:#a3a5a5
  max-width:50rem;
  font-size: 1.25rem;
  line-height: 1rem;
  line-height: 1.25
  outline: none
  border: none;
  border-radius: 0.4rem;
  font-style: normal
  box-shadow: 0px 0px 2px 0px rgba( 0, 0, 0, 0.5 );
  transition: box-shadow 100ms
  &:hover
    box-shadow: 1px 1px 4px 0px rgba( 0, 0, 0, 0.2 )
    color:#98b2d3
  &:focus
    font-style: italic
    box-shadow: 2px 2px 6px 0px rgba( 0, 0, 0, 0.5 )
    color:#6699cc
    border-bottom:2px solid $darkblue

.textarea
  @extend .input

.button
  font-family: 'avenir next', avenir, sans-serif;
  background-color:#fdfffd
  // color:$lightgrey
  color:#6699cc
  min-width:8rem;
  min-height:1.2rem;
  font-size:1.4rem;
  margin:0.5rem;
  padding:0.2rem;
  cursor:pointer;
  border: none;
  border-radius:3px;
  box-shadow: 1px 1px 2px 0px rgba( 0, 0, 0, 0.5 );
  transition: box-shadow 100ms
  border-bottom:2px solid #6699cc;
  &:hover
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.5 )
    border-bottom:2px solid #6699cc;
    color:#cc8a66
  &:focus
    box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.5 )
    border-bottom:2px solid #6699cc;
    color:#cc8a66

select
  font-family: 'avenir next', avenir, sans-serif;
  color:#a3a5a5
  font-size:1rem;
  cursor:pointer;
  min-width:10rem;
  text-align:center;
  box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0.5 );
  transition: box-shadow 100ms
  &:hover
    box-shadow: 1px 1px 4px 0px rgba( 0, 0, 0, 0.2 )
    color:#6699cc
  &:focus
    font-style: italic
    color:#6699cc
    box-shadow: 1px 1px 1px 0px rgba( 0, 0, 0, 0.5 )
