
.tab
  margin-left:2rem;
  margin-top:0.2rem;
  margin-bottom:0.2rem;
.tab2
  margin-left:4rem;
  margin-top:0.2rem;
  margin-bottom:0.2rem;
.tab3
  margin-left:6rem;
  margin-top:0.2rem;
  margin-bottom:0.2rem;

hr
  width:80%;
  height:1px;
  background-color:#F2C0BB;
  margin-top: 3.5rem;
  border:none;

.hang
  margin-top:4rem;
  max-width:35rem;
.hang2
  margin-top:4rem;
  margin-left:4rem;
  max-width:35rem;
.hang3
  margin-top:4rem;
  margin-left:8rem;
  max-width:35rem;

.hangright
  margin-top:4rem;
  margin-left:8rem;
  max-width:35rem;
  align-self: flex-end;