
.texture
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 0.5px, transparent 60px);
  background-size: 50px 5px, 50px 50px, 5px 250px, 150px 150px;

.rounded
  border-radius:5px

.shadow
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );

.outline
  border: 1px solid greys.light
  border-radius:5px

.pre
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

.header
  margin:0.5rem;
  @extend .bottom-green
  display:inline;
  flex-shrink: 1;
