
.texture
  background-image:
  radial-gradient(white, rgba(255,255,255,.2) 0.5px, transparent 60px);
  background-size: 50px 5px, 50px 50px, 5px 250px, 150px 150px;

.rounded
  border-radius:3px

.hr
  height:2px;
  background-color: #d8b3e6
  width: 70%;
  margin:2.25rem;

.hover
  transition: box-shadow .3s;
  cursor:pointer;
  font-weight:400;
  &:hover
    font-weight:500;
    box-shadow: 0 0 11px rgba(33,33,33,.2);

.shadow
  box-shadow: 2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );

.outline
  border: 1px solid greys.light
  border-radius:5px

.pre
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;

.nobreak
  white-space: nowrap;

.clip
  overflow:hidden;

.w10p
  width:10%
.w25p
  width:25%
.w40p
  width:40%
.w50p
  width:50%
.w75p
  width:75%
.w100p
  width:100%

.h50p
  height:50%
.h100p
  height:100%

// border-widths
.b05
  border-width:1px;
.b1
  border-width:2px;
.b2
  border-width:3.5px;
.b3
  border-width:5px;
.b4
  border-width:7.5px;
.b5
  border-width:9px;
.b6
  border-width:12px;
.b7
  border-width:14px;


// z-index
.z-2
  z-index:-2
.z-1
  z-index:-1
.z0
  z-index:0
.z1
  z-index:1
.z2
  z-index:2
.z3
  z-index:3