.relative
  position:relative
.absolute
  position:absolute
.inline
  display:inline;
.block
  display:block;
.sticky
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;

.centered
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

.top0
  top:0rem
.top05
  top:0.5rem
.top1
  top:1rem
.top2
  top:2rem
.top50p
  @extends .centered
.vcenter
  @extends .centered
.bottom0
  bottom:0rem
.bottom05
  bottom:0.5rem
.bottom1
  bottom:1rem
.bottom2
  bottom:2rem
.l0
  l:0rem
.l05
  l:0.5rem
.l1
  l:1rem
.l2
  l:2rem
.l10
  l:10rem
.r0
  r:0rem
.r05
  r:0.5rem
.r1
  r:1rem
.r2
  r:2rem
