.relative
  position:relative
.absolute
  position:absolute
.fixed
  position:fixed

.top0
  top:0rem
.top05
  top:0.5rem
.top1
  top:1rem
.top2
  top:2rem
.bottom0
  bottom:0rem
.bottom05
  bottom:0.5rem
.bottom1
  bottom:1rem
.bottom2
  bottom:2rem
.left0
  left:0rem
.left05
  left:0.5rem
.left1
  left:1rem
.left2
  left:2rem
.right0
  right:0rem
.right05
  right:0.5rem
.right1
  right:1rem
.right2
  right:2rem
