// aspect ratios as %s:
// 16/9 = 1.77
// 9/16 = .5625

//1:1
.square {
  position: relative;
  height: 0;
  padding-top: 100%;
}
// 100/161.8 = .618
.golden {
  position: relative;
  height: 0;
  padding-top: 61.8%;
}
// 16:9
.wide {
  position: relative;
  height: 0;
  padding-top: 56.25%;
}
// 1.85
.wider {
  position: relative;
  height: 0;
  padding-top: 54%;
}
// 1:2
.rect {
  position: relative;
  height: 0;
  padding-top: 50%;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
