
.circle
  @extend .exist
  border-radius:50%

.flag
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid $olive;
  border-bottom: 60px solid transparent;

.triangle
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid $olive;
.triangleblue
  @extend .triangle
  border-bottom: 30px solid $blue;
.triangleorange
  @extend .triangle
  border-bottom: 30px solid $orange;
