.mv0
  margin-top: 0rem;
  margin-bottom: 0rem;
.mv02
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
.mv04
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
.mv1
  margin-top: 1rem;
  margin-bottom: 1rem;
.mv2
  margin-top: 2rem;
  margin-bottom: 2rem;
.mv4
  margin-top: 4rem;
  margin-bottom: 4rem;
.mv6
  margin-top: 6rem;
  margin-bottom: 6rem;
.mv8
  margin-top: 8rem;
  margin-bottom: 8rem;
.mv10
  margin-top: 10rem;
  margin-bottom: 10rem;
.mv12
  margin-top: 12rem;
  margin-bottom: 12rem;
.mv14
  margin-top: 14rem;
  margin-bottom: 14rem;
.mv16
  margin-top: 16rem;
  margin-bottom: 16rem;
