.pa0
  padding: 0;
.pa1
  padding: .25rem;
.pa2
  padding: .5rem;
.pa3
  padding: 1rem;
.pa4
  padding: 2rem;
.pa5
  padding: 4rem;
.pa6
  padding: 8rem;
.pa7
  padding: 16rem;

.ma0
  margin: 0;
.ma1
  margin: .25rem;
.ma2
  margin: .5rem;
.ma3
  margin: 1rem;
.ma4
  margin: 2rem;
.ma5
  margin: 4rem;
.ma6
  margin: 8rem;
.ma7
  margin: 16rem;
