.b
  font-weight: bold;
.bold
  font-weight: bold;
.i
  font-style: italic;
.italic
  font-style: italic;

.strikethrough
  text-decoration: line-through;
.dotted
  text-decoration: underline dotted #a3a5a5;
.wavy
  text-decoration: underline wavy lightsteelblue;
.error
  text-decoration: underline wavy red;
.underline
  text-decoration: underline solid;

.pointer
  cursor:pointer;
.cursor
  cursor:pointer;
.clean
  text-decoration: none;

.fit
  font-size: 25.5vw;

.helvetica
  font-family: 'helvetica neue', helvetica, sans-serif;
.avenir
  font-family: 'avenir next', avenir, sans-serif;
.baskerville
  font-family: baskerville, serif;
