.f06
  font-size: 0.6rem
.f07
  font-size: 0.7rem
.f08
  font-size: 0.8rem
.f09
  font-size: 0.9rem
.f1
  font-size: 1rem
.f2
  font-size: 2rem
.f3
  font-size: 3rem
  line-height:3rem;
.f4
  font-size: 4rem
  line-height:4rem;
.f5
  font-size: 5rem
  line-height:5rem;

b
  font-weight: bold
i
  font-style: italic;
.b
  font-weight: bold
.i
  font-style: oblique;

.pre
    white-space: pre;

basic = {
  blue: #6699cc,
  green: #6accb2,
  yellow: #e1e6b3,
  red: #cc7066,
  pink: #F2C0BB, 
  brown: #705E5C,
  orange: #cc8a66,
  purple: #d8b3e6,
}

.ul
  border-bottom:1px solid colors.pink
  //underlines
for key, val in basic
  .ul{key}
    border-bottom:2px dashed val
    height: 1.2rem;
    display: inline-block;