
basic = {
  blue: #6699cc,
  green: #6accb2,
  yellow: #e1e6b3,
  red: #cc7066,
  pink: #F2C0BB, 
  brown: #705E5C,
  orange: #cc8a66,
  purple: #d8b3e6,
}

.ul
  border-bottom:1px solid colors.pink

for key, val in basic
  .ul{key}
    border-bottom:2px dashed val
    height: 1.2rem;
    display: inline-block;